@charset "UTF-8";
/*
	Theme Name: Bathbee-theme
	Theme URI: Bathbee-theme
	Description: Bathbee-theme
	Version: 9.9.9
	Author: Bathbee-theme
	Author URI: Bathbee-theme
	Tags: Blank, HTML5, CSS3

*/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}

body {
  font: 300 16px/1.4 "Roboto", Helvetica, Arial, sans-serif;
  font-family: "Roboto";
  color: #444;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04a4cc;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* wrapper */
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  background: white;
  font-family: "Roboto";
  font-size: 16px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.product {
  list-style: none;
  text-align: center;
}

.alltaxonomy div span {
  padding: 3px;
}

/*koszyk zamowienie*/
.woocommerce-checkout table.cart img {
  width: 50%;
}

.woocommerce-checkout .col-md-6 {
  width: 49%;
}

.woocommerce-checkout .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .woocommerce #customer_details .col-1,
html .woocommerce #customer_details .col-2 {
  max-width: 100%;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
  height: auto;
  display: inline-block;
  z-index: 10;
  font-size: 16px;
  border-radius: 4px;
  outline: 0;
  padding: 6px;
  min-height: 35px;
  font-weight: 400;
}

#customer_details {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 0;
  padding: 0 28px;
  margin: 30px 0;
}

:root {
  --glowny: #e4a707;
  --szarykolor: #8080801a;
  --czerwony: #d5011f;
  --zielony: var(--glowny);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: var(--glowny);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 80px;
  padding: 10px;
}

.logo {
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 3px;
  height: 90%;
  width: 1px;
  background: #ededed;
}

.featured-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.koszyk * {
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.koszyk:hover .dropdown-menu.dropdown-menu-mini-cart {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.koszyk {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.dropdown-menu.dropdown-menu-mini-cart {
  position: absolute;
  right: 0;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 1px 1px 20px #8080801e;
          box-shadow: 1px 1px 20px #8080801e;
  background: white;
  text-align: center;
  list-style: none;
}

.woocommerce-mini-cart-item.mini_cart_item {
  list-style: none;
}

.woocommerce-mini-cart-item.mini_cart_item,
.woocommerce-mini-cart-item.mini_cart_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown-menu.dropdown-menu-mini-cart img {
  max-width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 50px;
  text-align: center;
}

.headmenu nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.headmenu nav li {
  padding: 0px 20px;
  text-align: center;
}

.headmenu nav li a {
  display: block;
}

.dgwt-wcas-no-submit
.dgwt-wcas-sf-wrapp
input[type="search"].dgwt-wcas-search-input {
  padding: 0px 15px 0px 40px;
}

.promo {
  background: #dac3bd2e;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.add_to_cart_button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-mini-cart__buttons.buttons a,
button,
.button.product_type_variable {
  display: block;
  padding: 10px 1px 10px 1px;
  font-size: 13px;
  line-height: 12px;
  font-weight: bold;
  color: #fff;
  background: var(--glowny);
  border-bottom: none;
  border-radius: 3px;
  max-width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
}

.button.product_type_variable {
  background: var(--zolty);
}

.woocommerce-cart-form__cart-item.cart_item .product-thumbnail {
  width: 20%;
}

.woocommerce-cart-form__cart-item.cart_item .product-thumbnail img {
  width: 100%;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  margin: 0 auto;
  min-width: 150px;
}

.add_to_cart_button:hover {
  background: white;
  border: 1px solid var(--glowny);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.woocommerce-mini-cart__buttons.buttons a {
  width: 40%;
  display: inline-block;
  margin: 10px;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  max-width: 150px;
  width: auto;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #d5011f;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  border: 1px solid var(--czerwony);
  color: var(--czerwony);
  background: white;
}

.woocommerce button.button.alt {
  display: block;
}

.form-row.place-order {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.woocommerce-page table.cart td.actions .coupon {
  width: 66%;
}

.woocommerce-page table.cart td.actions button {
  width: 33%;
  display: block;
  max-width: 100%;
}

.woocommerce a.remove,
.remove_from_cart_button {
  z-index: 9;
  cursor: pointer;
  background-color: #d5d5d5;
  border-radius: 3px;
  color: white !important;
  width: 20px;
  height: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  display: inline;
  font-weight: 600;
  padding-right: 10px;
}

.woocommerce form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 100%;
}

.woocommerce form .form-row input.input-text,
.select2-container--default
.select2-selection--single
.select2-selection__rendered {
  width: 270px;
}

.woocommerce-checkout h3 {
  font-size: 20px;
  border-bottom: 1px solid var(--szarykolor);
  padding-bottom: 10px;
}

.woocommerce-checkout #order_review_heading {
  padding-left: 25px;
}

.woocommerce-additional-fields label {
  display: block;
  width: 100%;
}

.woocommerce-additional-fields .woocommerce-input-wrapper {
  width: 100%;
  display: block;
}

.form-row.notes {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget_shopping_cart_content
.woocommerce-mini-cart-item.mini_cart_item
.remove {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-back {
  position: relative;
}

.cart-items-count.count {
  position: absolute;
  left: 13px;
  top: -12px;
  background-color: #dd0017;
  border-radius: 50%;
  color: #fff !important;
  height: 15px;
  width: 15px;
  line-height: 5px;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
  z-index: 9;
}

.fa-shopping-cart:before {
  font-size: 16px;
}

.koszyk {
  border-top: 5px solid transparent;
}

.headfeaturedimage {
  width: 100%;
  padding: 10px 0;
}

.headfeaturedimage img {
  width: 100%;
  height: 100%;
}

.container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alltaxonomy div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alltaxonomy ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.alltaxonomy ul div {
  padding: 20px;
}

.results {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results .product {
  width: 30%;
  margin: 10px;
}

.results img {
  margin: 0 auto;
}

.slick-prev::before,
.slick-next::before {
  color: var(--glowny) !important;
}

.woocommerce-mini-cart__total.total {
  text-align: left;
  padding-left: 10px;
}

.dropdown-menu.dropdown-menu-mini-cart {
  -webkit-box-shadow: 3px 3px 3px 1px rgba(150, 150, 150, 0.2);
  box-shadow: 3px 3px 3px 1px rgba(150, 150, 150, 0.2);
  border: 1px solid #e4e4e4;
}

.woocommerce-mini-cart__total.total,
.woocommerce-mini-cart__buttons.buttons {
  margin: 0;
  z-index: 999;
}

.featuredcategory {
  width: 100%;
}

.featuredcategory img {
  margin: 0 auto;
}

.results img {
  height: auto;
}

.results li h2,
.titleincart {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  font-size: 15px;
  line-height: 15px;
}

.titleincart {
  font-size: 13px;
}

.koszyk:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.koszyk:hover .dropdown-menu.dropdown-menu-mini-cart {
  display: block;
}

.dropdown-menu.dropdown-menu-mini-cart {
  margin: 10px 0;
  z-index: 999999999;
}

.dropdown-menu.dropdown-menu-mini-cart {
  background: white;
  color: #585e61;
  padding: 0;
  border-radius: 8px;
}

.dropdown-menu.dropdown-menu-mini-cart a {
  color: black;
}

.dropdown-menu.dropdown-menu-mini-cart .button {
  color: white;
}

.dropdown-menu.dropdown-menu-mini-cart::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
  right: 44px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: white;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-bottom: 0;
}

.dropdown-menu.dropdown-menu-mini-cart {
  font-size: 16px;
}

.woocommerce-mini-cart__buttons.buttons a {
  width: 100%;
  background-color: #d5011f;
}

.woocommerce-mini-cart__total.total {
  text-align: center;
  border-top: 1px solid #ffffff1a;
  padding: 10px 0 0;
}

.titleincart {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
}

.dropdown-menu.dropdown-menu-mini-cart img {
  display: block;
}

.itemincart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 200px;
  max-width: 200px;
}

.titleincart {
  padding-left: 0;
}

/*checkboxy stronaglowna */
.alltaxonomy ul {
  list-style-type: none;
}

/* .alltaxonomy li {
  display: flex;
} */
.alltaxonomy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alltaxonomy ul li {
  width: 50%;
}

.alltaxonomy input[type="checkbox"] {
  display: none;
}

.alltaxonomy label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.alltaxonomy label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--glowny);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 9;
  font-size: 25px;
}

.alltaxonomy li:hover label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--glowny);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 9;
  font-size: 25px;
  content: "✓";
  background-color: var(--glowny);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.alltaxonomy li:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.alltaxonomy li:hover label {
  border-color: #ddd;
}

.alltaxonomy label img {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.alltaxonomy :checked + label {
  border-color: #ddd;
}

.alltaxonomy :checked + label:before {
  content: "✓";
  background-color: var(--glowny);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.alltaxonomy :checked + label img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 20px #808080d9;
          box-shadow: 0 0 20px #808080d9;
  z-index: -1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 0.9;
}

.alltaxonomy label img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(80%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  opacity: 0.7;
}

.nazwafiltra {
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 20px black;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.6s, opacity 0.5s linear;
  transition: visibility 0.6s, opacity 0.5s linear;
}

.alltaxonomy li:hover .nazwafiltra {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.6s, opacity 0.5s linear;
  transition: visibility 0.6s, opacity 0.5s linear;
}

/*koniec checkboxy stronaglowna */
.okazja {
  font-size: 25px;
  margin: 0 auto;
  padding: 25px;
}

.okazja {
  line-height: 25px;
  text-align: center;
}

.okazja {
  display: inline-block;
  position: relative;
}

.okazja:before,
.okazja:after {
  content: "";
  position: absolute;
  height: 25px;
  border-top: 1px solid #8080801a;
  top: 40px;
  width: 60%;
}

.okazja:before {
  right: 100%;
  margin-right: 15px;
}

.okazja:after {
  left: 100%;
  margin-left: 15px;
}

.featuredcategory,
.results {
  margin: 30px 0;
}

.promo p {
  margin: 0;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricewithtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding: 0;
  margin: 0;
}

.pricewithtitle del {
  font-size: 10px;
  padding: 2px 4px 2px 0;
}

.pricewithtitle ins {
  text-decoration: none;
}

li.product .add_to_cart_button,
li.product .button.product_type_variable {
  width: 100%;
  max-width: 100%;
}

.bannerpromo {
  margin: 20px auto;
}

.woocommerce .woocommerce-breadcrumb {
  margin: 10px 0;
}

.products-header__title.page-title::before,
section h1::before,
.woocommerce-checkout h3:before,
.footer__item.footer__item--heading::before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--glowny);
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

.alltaxonomy.archive-all-cookie ul {
  margin: 0;
}

.alltaxonomy.archive-all-cookie ul div {
  padding: 0;
}

.alltaxonomy.archive-all-cookie label::before {
  height: 20px;
  width: 20px;
  font-size: 15px;
  line-height: 15px;
}

.alltaxonomy.archive-all-cookie label:hover {
  background: #f8f4f3;
}

.alltaxonomy.archive-all-cookie label span {
  text-transform: uppercase;
}

.results.archive-all-cookie .product a {
  margin: 0;
}

.results.archive-all-cookie .product {
  width: 20%;
}

.dgwt-wcas-search-wrapp {
  min-width: 100% !important;
}

.add_to_cart_button:hover {
  color: var(--glowny);
}

.add_to_cart_button {
  margin: 0;
}

.footer__wrapper {
  background: white;
  border-top: 1px solid #ccc;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 5px;
}

.footer__row.footer__row--right {
  width: 100%;
  text-align: center;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  padding: 30px 0 5px;
}

.footer__row.footer__row--right .footer__column,
.footer__row.footer__row--right .footer__copyright.text.text--tiny {
  width: 100%;
}

.footer__column {
  width: 30%;
  list-style: none;
}

.footer__item.footer__item--heading {
  font-size: 15px;
  font-weight: 600;
}

.footer__link {
  padding-left: 15px;
}

/*SINGLE PRODUCT*/
.single-product button.button.alt {
  width: auto;
}

.woocommerce ul.products li.product .button {
  margin: 0;
}

.woocommerce div.product form.cart .variations,
.woocommerce-product-details__short-description ~ .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.woocommerce div.product .product_title,
.woocommerce-product-details__short-description {
  text-align: left;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: black;
  text-align: left;
}

/* button add to cart */
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled,
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
	background-color: #d5011f;
} */
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: #d5011f;
}

.woocommerce-variation-add-to-cart input,
.single-product.woocommerce .quantity .qty {
  min-height: 55px;
}

.woocommerce div.product form.cart .button,
.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
  width: 79%;
  font-size: 20px;
}

.product_meta {
  text-align: left;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  margin: 0;
  padding: 0;
  text-align: left;
}

/*KONIEC SINGLE PRODUCT*/
.pricewithtitle .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
  padding: 10px 1px 10px 1px;
}

.childrencategory {
  display: block;
  width: 50%;
  position: relative;
}

.childrencategory img {
  border: 1rem solid transparent;
}

.childrencategory:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.childrencategory:hover img {
  border: 1rem solid var(--glowny);
}

.childrencategory img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(5%);
  opacity: 0.5;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.childrencategory {
  padding-top: 10px;
}

.childrencategory:nth-child(2n) {
  padding-left: 5px;
}

.childrencategory:nth-child(1n) {
  padding-right: 5px;
}

.childrencategory img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.results.archive-all-cookie aside {
  width: 18%;
}

.woocommerce .woocommerce-ordering select {
  width: 100%;
  display: block;
}

.results-product-afterchildren {
  padding-left: 20px;
}

.results.archive-all-cookie .product {
  margin-top: 0;
}

.results.archive-all-cookie .results-product-afterchildren {
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.woo-variation-swatches-stylesheet-enabled
.variable-items-wrapper
.variable-item:not(.radio-variable-item) {
  padding: 1px !important;
  margin: 0 3px !important;
}

.wybierzkolor {
  display: block;
  width: 30px;
  height: 30px;
}

.results.archive-all-cookie aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wybranekolory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wybranekolory .products-header__title {
  width: 100%;
}

.woocommerce-ordering ~ .products-header__title.page-title {
  font-weight: 600;
  font-size: 15px;
}

[data-select="selected"],
.wybierzkolor:hover {
  border: 2px solid;
}

[data-select="selected"]::before,
.wybierzkolor:hover::before {
  content: "✓";
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 26px;
  font-size: 20px;
}

.woocommerce div.product form.cart .variations .variable-item {
  margin: 0 5px;
}

.single_variation_wrap {
  width: 100%;
}

.woocommerce div.product form.cart {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.woocommerce form .form-row .select2-container {
  max-width: 270px;
}

.variations label {
  text-transform: uppercase;
}

a.reset_variations {
  display: none !important;
}

.variations tr,
.variations tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 5px 0;
}

.woocommerce ul.products li.product .button {
  min-width: auto;
}

@media (min-width: 1000px) {
  .headmenu.sticky .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headmenu.sticky .menu-mobile {
    width: 15%;
  }
  .headmenu.sticky .menu-mobile .logo {
    width: 60%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .headmenu.sticky .menu-mobile::after {
    display: none;
  }
  .woocommerce-checkout .products.columns-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .woocommerce-checkout .products.columns-4 .product {
    width: 48%;
    margin: 10px 0;
  }
  .woocommerce-checkout .products.columns-4::before,
  .woocommerce-checkout .products.columns-4::after {
    display: none !important;
  }
}

.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  font-size: 16px !important;
}

#showfilter {
  display: none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  z-index: 9;
  background: white;
  max-width: 1080px;
  margin: 0 auto;
}

.headmenu.sticky {
  width: 95%;
}

.headmenu.sticky .menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headmenu.sticky .menu-mobile:after {
  margin: 18px 0 0 0;
}

.alltaxonomy {
  z-index: 0;
}

.headmenu.sticky .logo {
  width: 15%;
}

.headmenu.sticky .menu-mobile {
  padding: 0px 3px;
}

@media (max-width: 1000px) {
  select {
    font-size: 16px !important;
  }
  #showfilter {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  #showfilter ~ * {
    display: none;
  }
  .show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .woocommerce-ordering ~ .products-header__title.page-title {
    display: block;
    width: 100%;
  }
  .results.archive-all-cookie aside,
  .results.archive-all-cookie .results-product-afterchildren {
    width: 100%;
    padding: 10px 0;
  }
  .wybranekolory {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .wybierzkolor {
    margin: 0 7px 0 0px;
  }
  .logo {
    width: 25%;
  }
  .search {
    width: 75%;
  }
  .featured-text * {
    padding: 2px;
  }
  .featured-text {
    width: 100%;
    font-size: 10px;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .okazja {
    overflow: hidden;
  }
  .alltaxonomy label {
    margin: 0;
    padding: 5px;
  }
  .nazwafiltra {
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
  }
  ul div.nazwafiltra {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  ul div.nazwafiltra p {
    text-align: center;
    width: 100%;
  }
  .alltaxonomy label::before,
  .alltaxonomy li:hover label::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  .pricewithtitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .pricewithtitle h2 {
    text-align: center;
    margin: 2px 0;
  }
  .pricewithtitle span.price {
    margin: 0 auto;
    padding: 0;
  }
  p.okazja {
    font-size: 20px;
    padding: 10px 2px;
  }
  .cart-items-count.count {
    font-size: 9px;
    line-height: 10px;
  }
  .koszyk {
    border: none;
  }
  .menu-mobile {
    padding: 20px 3px;
  }
  .results.archive-all-cookie .product {
    width: 43%;
  }
  .woocommerce a.button {
    min-width: 100%;
  }
  .results.archive-all-cookie {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  li.product h2 {
    text-align: center;
  }
  .alltaxonomy.archive-all-cookie ul div {
    padding: 5px;
  }
  .alltaxonomy ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .woocommerce-checkout .col-md-6 {
    width: 100%;
  }
  .woocommerce-checkout .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .woocommerce #content table.cart .product-thumbnail,
  .woocommerce table.cart .product-thumbnail,
  .woocommerce-page #content table.cart .product-thumbnail,
  .woocommerce-page table.cart .product-thumbnail {
    display: block;
  }
  .woocommerce-cart-form__cart-item.cart_item .product-thumbnail {
    width: 100%;
  }
  .product-thumbnail img {
    max-width: 100px;
  }
  .woocommerce-cart-form__cart-item.cart_item .product-thumbnail:before {
    display: none;
  }
  .woocommerce-cart-form__cart-item.cart_item .product-remove a {
    margin-left: calc(100% - 20px);
  }
  .woocommerce-page table.cart td.actions .coupon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .woocommerce #respond input#submit,
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce input.button {
    margin: 0;
  }
  .woocommerce form .form-row label,
  .woocommerce-page form .form-row label {
    display: block;
    width: 100%;
    text-align: center;
  }
  .woocommerce form .form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__column {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapp-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.primary-menu ul a {
  font-size: 14px;
  color: #000;
  font-family: "Roboto";
  font-weight: normal;
}

.primary-menu ul li {
  padding: 10px;
}

header {
  font-size: 14px;
  color: #000;
  font-family: "Roboto";
  font-weight: normal;
}

@media (min-width: 1000px) {
  header .sub-toggle {
    display: none;
  }
}

.front {
  min-height: 100vh;
}

.primary-menu ul .has-submenu {
  position: relative;
}

.primary-menu ul ul.sub-menu {
  position: absolute;
  display: block;
  background: white;
  padding: 0px 25px 0 0;
  margin: 0;
  min-width: 250px;
  top: 59px;
  border: 1px solid #80808042;
  height: auto !important;
}

.primary-menu ul ul.sub-menu a {
  display: block;
  text-decoration: none;
}

.primary-menu ul ul.sub-menu a:hover {
  padding-left: 10px;
  color: var(--glowny);
}

.primary-menu ul ul.sub-menu::before {
  -webkit-transition: 0;
  transition: 0;
  content: "";
  height: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
  background: white;
  position: absolute;
  top: -6px;
  left: 40px;
  margin: 0 auto;
  border-left: 1px solid #80808042;
  border-top: 1px solid #80808042;
}

.primary-menu ul ul.sub-menu li {
  border-bottom: 1px solid #8080801f;
}

.primary-menu ul ul.sub-menu li:last-child {
  border-bottom: none;
}

.collapse-button {
  width: 50px;
  margin-left: auto;
}

.icon-bar {
  height: 3px;
  width: 30px;
  background: black;
  display: block;
  margin: 3px;
}

.header {
  z-index: 99999 !important;
}

@media (max-width: 1000px) {
  .wrapp-logo-menu {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .primary-menu ul {
    display: block;
    position: absolute;
    left: 0;
    background: white;
    width: 100%;
    top: 85px;
    padding: 10px;
    z-index: 999999999;
  }
  .primary-menu ul ul.sub-menu {
    position: static;
  }
  .sub-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    text-align: center;
  }
  .primary-menu ul ul.sub-menu {
    border: 0;
  }
}

.dropdown-menu.dropdown-menu-mini-cart a {
  width: 60%;
}

.dropdown-menu.dropdown-menu-mini-cart .quantity {
  width: 30%;
  text-align: right;
}

.widget_shopping_cart_content
.woocommerce-mini-cart-item.mini_cart_item
.remove {
  width: 20px;
}

.dropdown-menu.dropdown-menu-mini-cart {
  width: 400px;
  top: 35px;
  left: -300px;
}

.cart-items-count.count {
  position: absolute;
  left: 10px;
  top: -11px;
  background-color: white;
  border-radius: 50%;
  color: black !important;
  border: 1px solid var(--glowny);
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 9px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  z-index: 9;
}

.woocommerce-mini-cart-item.mini_cart_item,
.woocommerce-mini-cart-item.mini_cart_item a {
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button {
  display: inline-block;
  padding: 0.35em 0.85em;
  margin: 0;
  font-size: 1.15em;
  line-height: 1.35;
  color: #333;
  background-color: #efb34f;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .koszyk:hover .dropdown-menu.dropdown-menu-mini-cart {
    display: none;
  }
  .cart-items-count.count {
    left: 9px;
    top: -11px;
  }
  .featured-text {
    display: none;
  }
}

.hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  background: white;
  top: 0;
  z-index: 999999999;
}

.header + div {
  margin-top: 80px;
}

.hero-img {
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  margin-top: 0px !important;
}

body::before {
  content: "";
  background: url(http://localhost/bathbee-nowa-wersja-nowy-motyw/wp-content/uploads/2019/07/background-shapes.png);
  right: 0;
  top: 45vh;
  width: 50%;
  height: 70%;
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  background-size: 80%;
}

.heading-caveat,
.heading-caveat-big {
  font-size: 28px;
  color: var(--glowny);
  line-height: 28px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-weight: bold;
  margin-bottom: 0;
}

.heading-caveat-big {
  font-size: 50px;
  line-height: 45px;
}

.heading-roboto {
  text-transform: uppercase;
  padding: 20px;
  font-family: "Roboto Slab";
  font-size: 52px;
  color: #585e61;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.heading-roboto::after,
.after-zigzag::after {
  content: "";
  background: url(http://localhost/bathbee-nowa-wersja-nowy-motyw/wp-content/uploads/2019/07/line-1.png);
  display: block;
  width: 100px;
  height: 20px;
  background-repeat: no-repeat;
  margin: 20px auto 10px;
}

.heading-roboto-small {
  padding: 20px 20px 0 20px;
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #585e61;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

p {
  width: 100%;
}

.p-desc {
  text-align: justify;
  margin: 1em 0;
  font-size: 16px;
  font-family: "Roboto";
  color: #808891;
  line-height: 26px;
}

.home-about__box {
  padding: 20px;
  margin: auto;
  text-align: center;
  max-width: 700px;
}

li.productFeaturedFront .woocommerce-loop-product__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  font-weight: 600;
  color: black;
}

li.productFeaturedFront {
  width: 33%;
  padding: 10px;
}

li.productFeaturedFront a:hover {
  text-decoration: none;
}

li.productFeaturedFront:hover img {
  opacity: 0.8;
}

li.productFeaturedFront img {
  -o-object-fit: contain;
     object-fit: contain;
}

.imgFeaturedProductFront {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

@media (max-width: 1000px) {
  li.productFeaturedFront {
    width: 100%;
  }
}

.normal-text {
  font-size: 16px;
  font-family: "Roboto";
  color: #808891;
  line-height: 21px;
  font-weight: normal !important;
}

.normal-text::after {
  display: none !important;
}

.home-effect-container {
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.671);
}

.home-effect__wrapper {
  padding: 20px 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.home-effect__wrapper img {
  margin-bottom: 15px;
}

.home-effect__wrapper:nth-child(3), .home-effect__wrapper:last-child {
  border: 0;
}

.home-effect__wrapper:nth-child(4), .home-effect__wrapper:nth-child(5) {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

@media (max-width: 1000px) {
  .home-effect__wrapper {
    border: 0;
  }
}

.home-effect__wrapper .normal-text {
  font-size: 14px;
}

.home-effect__wrapper p {
  font-family: "Roboto";
  font-weight: 900;
  color: #585e61;
  font-size: 17px;
  position: relative;
}

.home-effect__wrapper p::after {
  content: "";
  background: url(http://localhost/bathbee-nowa-wersja-nowy-motyw/wp-content/uploads/2019/07/line-1.png);
  display: block;
  width: 100px;
  height: 20px;
  background-repeat: no-repeat;
  margin: 20px auto 10px;
  z-index: 9;
  background-position: center;
}

.home-effect__wrapper ul {
  list-style: none;
  padding-left: 15px;
}

.home-effect__wrapper ul li {
  text-align: left;
  padding-bottom: 10px;
  position: relative;
}

.home-effect__wrapper ul li::before {
  content: "• ";
  color: var(--glowny);
  position: absolute;
  left: -16px;
  font-size: 32px;
  top: -12px;
}

.home-components {
  margin: 50px auto;
  position: relative;
  z-index: 1;
  min-height: 650px;
  padding: 30px;
  margin-bottom: -20px;
  overflow: hidden;
  z-index: 9999 !important;
}

.home-components__subtitle {
  font-size: 26px;
  line-height: 1em;
  color: var(--glowny);
  font-family: "Caveat";
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.home-components__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #585e61;
}

.home-components__wrapper {
  position: relative;
  height: 1000px;
  width: 1000px;
  margin: auto;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__wrapper {
    width: 700px;
    height: 870px;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__wrapper {
    width: 280px;
    height: 490px;
  }
}

.home-components__description {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  color: #585e61;
  line-height: 26px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.home-components__box {
  visibility: hidden;
  opacity: 0;
  background: #fff;
  padding: 85px;
  height: 100%;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99999;
  background: url(https://bathbee.pl/public/assets/components/ramka-plaster-miodu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1000px) {
  .home-components__box {
    max-width: 600px;
    max-height: 600px;
    top: -5%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__box {
    width: auto !important;
    left: 0 !important;
    padding: 5px;
    height: 100vh !important;
    width: 100vw !important;
    position: fixed;
    background: #fff;
    overflow: scroll;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__box:nth-child(1) {
    display: none;
  }
}

.home-components__box__close {
  display: none;
}

@media only screen and (max-width: 767px) {
  .home-components__box__close {
    display: block;
    position: absolute;
    top: 130px;
    right: 33px;
    width: 40px;
    height: 40px;
    background: var(--glowny);
    border-radius: 30px;
    cursor: pointer;
  }
  .home-components__box__close:before {
    content: "x";
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 13px;
    font-weight: 900;
    top: -2px;
  }
}

.home-components__box.active {
  opacity: 1;
  visibility: visible;
}

.home-components__box__wrapper {
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .home-components__box__wrapper {
    text-align: left;
    max-width: 85%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.home-components__box__wrapper--center {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .home-components__box__wrapper ul {
    padding-left: 5px;
  }
}

.home-components__box:nth-child(1) {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 767px) {
  .home-components__box {
    width: 250px;
    left: -34%;
  }
}

.home-components__image {
  width: 100%;
  height: auto;
}

.home-components__item {
  width: 16.5%;
  float: left;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 1000px) {
  .home-components__item {
    z-index: 99999;
  }
}

.home-components__item:nth-child(2) {
  left: 41%;
  top: -2%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(2) {
    left: 37%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(2) {
    left: -11%;
    top: -2%;
  }
}

.home-components__item:nth-child(3) {
  left: 68%;
  top: 10%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(3) {
    left: 63%;
    top: 3%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(3) {
    left: 13%;
    top: 17%;
  }
}

.home-components__item:nth-child(4) {
  left: 14%;
  top: 10%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(4) {
    left: 11%;
    top: 3%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(4) {
    left: 40%;
    top: 36%;
  }
}

.home-components__item:nth-child(5) {
  left: 0%;
  top: 33%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(5) {
    left: -9%;
    top: 16%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(5) {
    left: 42%;
    top: -1%;
  }
}

.home-components__item:nth-child(6) {
  left: 79%;
  top: 33%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(6) {
    left: 84%;
    top: 16%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(6) {
    left: -14%;
    top: 36%;
  }
}

.home-components__item:nth-child(7) {
  left: 5%;
  top: 59%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(7) {
    left: -9%;
    top: 65%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(7) {
    left: 12%;
    top: 55%;
  }
}

.home-components__item:nth-child(8) {
  left: 78%;
  top: 59%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(8) {
    left: 84%;
    top: 65%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(8) {
    left: 65%;
    top: 56%;
  }
}

.home-components__item:nth-child(9) {
  left: 26%;
  top: 75%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(9) {
    left: 20%;
    top: 78%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(9) {
    left: -18%;
    top: 73%;
  }
}

.home-components__item:nth-child(10) {
  left: 56%;
  top: 75%;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(10) {
    left: 57%;
    top: 78%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(10) {
    left: 36%;
    top: 75%;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item {
    padding: 20px;
    float: none;
    width: 50%;
    max-width: 200px;
    margin: auto;
  }
}

.home-components__item.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (max-width: 767px) {
  .home-components__item.is-flipped {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item.is-flipped {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .home-components__item.is-flipped .home-components__item__face {
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item.is-flipped .home-components__item__front {
    display: none !important;
  }
}

.home-components__item.is-flipped .home-components__item__back {
  opacity: 1 !important;
}

.home-components__item__face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.home-components__item__front {
  width: 160px;
  height: 180px;
  top: 5px;
}

@media only screen and (max-width: 767px) {
  .home-components__item__front {
    width: 115px;
    height: 115px;
  }
}

.home-components__item__front .home-components__image {
  width: 155px !important;
  height: 160px;
  position: relative;
  left: 3px;
  top: 4px;
}

@media only screen and (max-width: 767px) {
  .home-components__item__front .home-components__image {
    width: 115px;
    height: 115px;
  }
}

.home-components__item__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 164px;
  height: 180px;
  left: 15px;
  top: 5px;
  opacity: 0;
}

@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item__back {
    right: -34px;
    width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .home-components__item__back {
    width: 115px;
    height: 115px;
  }
}

.home-components__item__description {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #585e61;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
}

@media only screen and (max-width: 767px) {
  .home-components__item__description {
    top: 36px;
  }
}

.home-components__item__description-lg {
  top: 53px;
}

@media only screen and (max-width: 767px) {
  .home-components__item__description-lg {
    top: 28px;
  }
}

.homeComponents-wrapper,
.jak-stosowac-produkty {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.dla-kogo-przeznaczone {
  background: #f7f8f9;
}

.home-for__box {
  margin: 40px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}

.home-for__box__item {
  margin: 0 30px 0 0.5em;
  line-height: 1.25em;
  padding: 10px 0 0;
  font-weight: bold;
  color: #585e61;
  font-family: "Roboto";
  font-size: 16px;
  position: relative;
  padding-left: 30px;
  text-align: left;
}

.home-for__box__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 14px;
  height: 14px;
  background: var(--glowny);
  border-radius: 50%;
}

.responsive-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.relaks-dla-twojego-ciala {
  background-color: #f7f8fa;
  margin: 50px 0;
}

.minimalHeading {
  margin-top: 17px;
  padding-bottom: 10px;
  font-size: 25px;
}

@media (max-width: 1000px) {
  .minimalHeading {
    text-align: center !important;
  }
}

.minimalHeading::after {
  width: 100%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.397);
  margin: 10px 0;
  content: "";
}

.recommendedProducts .wrap-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

@media (min-width: 1000px) {
  .productTwoPrices {
    width: 22%;
  }
}

.productTwoPrices {
  position: relative;
}

.productTwoPrices {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productTwoPrices:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.productTwoPrices:hover a {
  text-decoration: none;
}

.productTwoPrices .woocommerce-loop-product__title {
  font-weight: normal;
  font-size: 18px;
  padding: 15px 0;
}

.productTwoPrices .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
}

.productTwoPrices .price span {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.productTwoPrices .price .preferencyjna {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: green;
  font-weight: bold;
}

.productTwoPrices .button {
  color: white;
  font-weight: normal;
  margin: 20px 0;
}

.productTwoPrices .button:hover {
  background: black;
  color: white;
  border: 0;
}

.productTwoPrices img {
  -o-object-fit: contain;
     object-fit: contain;
}

.productTwoPrices .info-pref-price {
  color: green;
  font-size: 12px;
  margin: 10px 0;
}

.productTwoPrices a {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .productTwoPrices {
    width: 100%;
    margin: 10px 0;
  }
  .productTwoPrices img {
    text-align: center;
    margin: 5px auto;
  }
  .productTwoPrices .button {
    font-size: 16px;
    padding: 10px 0;
  }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: none;
  margin: 15px 3px;
  padding: 0;
  position: relative;
  margin-left: 0;
}

@media (min-width: 1000px) {
  .woocommerce ul.products li.product.productTwoPrices {
    width: 29%;
  }
  .woocommerce .products ul::after,
  .woocommerce ul.products::after {
    display: none;
  }
}

.woocommerce ul.products li.product.productTwoPrices {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 15px;
}

.woocommerce ul.products li.product.productTwoPrices:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.woocommerce ul.products li.product.productTwoPrices:hover a {
  text-decoration: none;
}

.woocommerce ul.products li.product.productTwoPrices .woocommerce-loop-product__title {
  font-weight: normal;
  font-size: 18px;
  padding: 15px 0;
}

.woocommerce ul.products li.product.productTwoPrices .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
}

.woocommerce ul.products li.product.productTwoPrices .price span {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.woocommerce ul.products li.product.productTwoPrices .price .preferencyjna {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: green;
  font-weight: bold;
}

.woocommerce ul.products li.product.productTwoPrices .button {
  color: white;
  font-weight: normal;
  margin: 20px 0;
}

.woocommerce ul.products li.product.productTwoPrices .button:hover {
  background: black;
  color: white;
  border: 0;
}

.woocommerce ul.products li.product.productTwoPrices img {
  -o-object-fit: contain;
     object-fit: contain;
}

.woocommerce ul.products li.product.productTwoPrices .info-pref-price {
  color: green;
  font-size: 10px;
  margin: 10px 0;
}

.woocommerce ul.products li.product.productTwoPrices a {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .woocommerce ul.products li.product.productTwoPrices {
    width: 100%;
    margin: 10px 0;
  }
  .woocommerce ul.products li.product.productTwoPrices img {
    text-align: center;
    margin: 5px auto;
  }
  .woocommerce ul.products li.product.productTwoPrices .button {
    font-size: 16px;
    padding: 10px 0;
  }
}

.minimal-heading-bold {
  font-weight: bold;
  margin-bottom: 15px;
}

@media (min-width: 1000px) {
  .woocommerce ul.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.wrapp-menus-footer ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 1000px) {
  .wrapp-menus-footer div {
    text-align: center;
    margin: 15px 0;
  }
}

.footer__wrapper .cashbackword-img-footer {
  margin: 0 auto;
  max-width: 80px;
  display: block;
}

.woocommerce ul.products li.product .price {
  color: black;
}

.bread-header-archive {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb {
  color: white;
}

.archive-products-sidebar div .woocommerce-product-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.archive-products-sidebar div .woocommerce-product-search input {
  min-height: 25px;
  width: 70%;
}

.archive-products-sidebar div .woocommerce-product-search button {
  padding: 10px 5px;
}

.archive-products-sidebar .product-categories {
  text-align: left;
  list-style: none;
  padding-left: 15px;
}

.archive-products-sidebar .product_list_widget img {
  display: block;
  float: none;
}

.archive-products-sidebar .product_list_widget .product-title {
  display: block;
  float: none;
}

.archive-products-sidebar .product_list_widget li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.archive-products-sidebar .product_list_widget li a img {
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
}

.archive-products-sidebar .product_list_widget li a span {
  width: 100%;
}

.price_slider {
  margin-bottom: 1em;
}

.price_slider_amount {
  text-align: right;
  line-height: 2.4em;
  font-size: 0.8751em;
}

.price_slider_amount .button {
  font-size: 1.15em;
}

.price_slider_amount .button {
  float: left;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.9em;
  height: 0.9em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: #e7e7e7;
  background: -moz-linear-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  outline: none;
  top: -0.3em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background: none repeat scroll 0 0 var(--glowny);
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background: #1e1e1e;
  background: -moz-linear-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
  background: -moz-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
}

.ui-slider-horizontal {
  height: 0.5em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}

.widgettitle {
  font-size: 16px;
  padding: 10px;
  margin-top: 15px;
}

.widgettitle::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(58, 57, 57, 0.3);
  content: "";
  margin: 5px 0;
}

@media (min-width: 1000px) {
  .widgettitle {
    text-align: left;
  }
}

.price_slider_wrapper .button {
  width: 100%;
  display: block;
  margin: 0 auto !important;
  text-align: center;
  max-width: 100% !important;
}

.price_slider_wrapper .price_label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input,
select {
  border-radius: 0;
}

.dropdown-menu.dropdown-menu-mini-cart a {
  width: 60%;
  margin: 10px auto;
}

.single-product-view .woocommerce-Tabs-panel--description p {
  text-align: left;
}

.single-product-view .woocommerce-Tabs-panel--description h2 {
  margin: 10px auto;
}

.single-product-view .woocommerce-Tabs-panel--description ul {
  text-align: left;
}

.single-product-view .woocommerce-Tabs-panel--description .cashback,
.single-product-view .woocommerce-Tabs-panel--description .sp {
  margin: 20px auto;
}

.single-product-view .woocommerce-Tabs-panel--description .cashback h3,
.single-product-view .woocommerce-Tabs-panel--description .sp h3 {
  font-weight: bold;
}

.single-product-view .tabs.wc-tabs {
  width: 100%;
}

.single-product-view .tabs.wc-tabs li {
  border: none !important;
  padding: 6px 20px !important;
  margin-right: 15px !important;
  border-style: dashed !important;
  border-width: 0 0 1px !important;
  border-color: #84be38 !important;
  min-width: 90px !important;
  text-align: center !important;
  background-color: #fff !important;
}

.single-product-view .tabs.wc-tabs li::after, .single-product-view .tabs.wc-tabs li::before {
  display: none;
}

.single-product-view .tabs.wc-tabs li a {
  display: block;
}

.single-product-view .woocommerce-Tabs-panel {
  width: 100%;
}

.single-product-view .woocommerce-tabs.wc-tabs-wrapper {
  width: 100%;
}

.single-product-view .woocommerce-product-gallery {
  padding: 20px 20px 20px 20px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.single-product-view .summary.entry-summary {
  padding: 0px 0 0px 20px;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .single-product-view .summary.entry-summary {
    padding: 20px 0;
  }
}

.single-product-view .product_title.entry-title {
  width: 100%;
  font-size: 20px;
  margin-top: 20px !important;
}

.single-product-view .product_title.entry-title::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: block;
  margin: 5px 0;
}

.single-product-view .woocommerce-tabs ul.tabs li.active {
  border-radius: 80px !important;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  padding: 6px 20px !important;
  margin-right: 15px !important;
  border-width: 0 0 1px !important;
  border-color: var(--glowny) !important;
  min-width: 90px;
  text-align: center;
}

.single-product-view .related.products {
  width: 100%;
}

.single-product-view .related.products ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1000px) {
  .single-product-view .related.products ul li.product.productTwoPrices {
    width: 22%;
    margin: 15px;
  }
}

.single-product-view .related.products .price {
  text-align: center;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  display: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 20px auto;
}

.woocommerce #reviews #comments ol.commentlist {
  padding: 10px 0;
}

.woocommerce #reviews #comments .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce .star-rating {
  margin: 5px auto;
  float: none;
}

#review_form_wrapper .form-submit input {
  width: 100%;
  max-width: 100% !important;
  margin: 0 auto !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: var(--glowny);
  border-radius: 0;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  border: 1px solid var(--glowny);
  color: var(--glowny);
  background: white;
}

.starwrapper {
  width: 100%;
}

.starwrapper::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: block;
  margin: 5px 0;
}

.starwrapper {
  text-align: left;
}

.starwrapper .ocena {
  padding-right: 10px;
}

.wrapp-fb-likes {
  display: block;
  position: relative;
  text-align: left;
}

.product_meta span {
  display: block;
  margin: 5px 0;
}

.product_meta span::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: block;
  margin: 5px 0;
}

.product_meta .sku_wrapper {
  display: none;
}

.summary.entry-summary .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summary.entry-summary .price .preferencyjna {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: green;
  font-weight: bold;
}

.summary.entry-summary .price .preferencyjna:before {
  content: "Cena preferencyjna: ";
  padding-right: 10px;
  font-size: 14px;
  display: inline-block;
  width: 200px;
}

.summary.entry-summary .price .woocommerce-Price-amount.amount {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary.entry-summary .price .woocommerce-Price-amount.amount::before {
  content: "Cena: ";
  padding-right: 10px;
  font-size: 14px;
  display: inline-block;
  width: 150px;
}

.summary.entry-summary .price span {
  padding-right: 10px;
  display: block;
  width: 100%;
}

.summary.entry-summary form.cart {
  margin: 20px 0;
}

.info-pref-price-single-product {
  color: green;
  font-size: 10px;
  margin: 10px 0;
  text-align: left;
}

.product_list_widget a + * {
  display: none;
}

.woocommerce-breadcrumb {
  width: 100%;
}

.woocommerce-notices-wrapper {
  width: 100%;
}

.woocommerce-notices-wrapper .woocommerce-message {
  margin: 10px 0 0;
}

@media (max-width: 1000px) {
  .woocommerce-notices-wrapper .woocommerce-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .woocommerce-notices-wrapper .woocommerce-message a {
    float: none !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.woocommerce-breadcrumb {
  text-align: left;
}

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}

.woocommerce-MyAccount-navigation ul li {
  padding: 5px 0;
}

@media (min-width: 1000px) {
  .woocommerce-MyAccount-navigation {
    border-right: 1px solid rgba(128, 128, 128, 0.37);
    text-align: left;
  }
}

@media (min-width: 1000px) and (max-width: 1000px) {
  .woocommerce-MyAccount-navigation {
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
  }
}

.woocommerce table.shop_table {
  border-radius: 0;
}

.woocommerce table.shop_table .button {
  margin: 5px 0;
}

.u-columns.woocommerce-Addresses.col2-set.addresses div {
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.u-columns.woocommerce-Addresses.col2-set.addresses h3::after {
  width: 100%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.397);
  margin: 10px 0;
  content: "";
}

fieldset {
  margin: 0;
  width: 100%;
  border: 0;
  padding: 0;
}

fieldset legend {
  font-weight: bold;
  padding: 10px;
}

.woocommerce-MyAccount-content button.button {
  max-width: 100%;
  width: 100%;
}

.woocommerce-MyAccount-content p {
  padding: 3px 0;
}

.woocommerce-MyAccount-content form .form-row {
  padding: 3px 0;
}

article ul {
  list-style: none;
}

article h2,
article h1,
article h3 {
  padding: 10px 0;
}

.formularz {
  max-width: 500px;
  margin: 0 auto;
}

.formularz textarea,
.formularz input {
  width: 100%;
}

.formularz label {
  width: 100%;
}

.formularz input[type="submit"] {
  background: var(--glowny);
  color: white;
}

.naglowekstrona {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

.productTwoPrices {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 15px;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 50%;
}

.tab_headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 3px;
}

.tab_headers li {
  width: 50%;
  background-color: rgba(128, 128, 128, 0.3);
  margin: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tab_headers li a {
  display: block;
  padding: 20px;
  border: 2px solid transparent;
}

.tab_headers li a.active {
  background: white;
  border: 2px solid var(--glowny);
  -webkit-box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.2);
          box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.2);
}

.tab_headers li a:hover {
  background: white;
  border: 2px solid var(--glowny);
}

.moje-konto .u-column1.col-1.tab,
.moje-konto .u-column2.col-2.tab {
  display: none;
}

.moje-konto .u-column1.col-1.tab.tab-active,
.moje-konto .u-column2.col-2.tab.tab-active {
  display: block;
}

.moje-konto .u-column1.col-1.tab#tab_login, .moje-konto .u-column1.col-1.tab#tab_register,
.moje-konto .u-column2.col-2.tab#tab_login,
.moje-konto .u-column2.col-2.tab#tab_register {
  width: 100%;
  max-width: 100%;
}

.moje-konto .u-column1.col-1.tab#tab_login form, .moje-konto .u-column1.col-1.tab#tab_register form,
.moje-konto .u-column2.col-2.tab#tab_login form,
.moje-konto .u-column2.col-2.tab#tab_register form {
  max-width: 550px;
  margin: 15px auto;
}

.moje-konto .u-column1.col-1.tab#tab_login form p, .moje-konto .u-column1.col-1.tab#tab_register form p,
.moje-konto .u-column2.col-2.tab#tab_login form p,
.moje-konto .u-column2.col-2.tab#tab_register form p {
  text-align: center;
}

.moje-konto .u-column1.col-1.tab#tab_login form select, .moje-konto .u-column1.col-1.tab#tab_register form select,
.moje-konto .u-column2.col-2.tab#tab_login form select,
.moje-konto .u-column2.col-2.tab#tab_register form select {
  max-width: 270px;
}

.moje-konto .u-column1.col-1.tab#tab_login form img, .moje-konto .u-column1.col-1.tab#tab_register form img,
.moje-konto .u-column2.col-2.tab#tab_login form img,
.moje-konto .u-column2.col-2.tab#tab_register form img {
  margin: 20px auto 5px;
  max-width: 85px;
}

.moje-konto .u-column1.col-1.tab#tab_login form label, .moje-konto .u-column1.col-1.tab#tab_register form label,
.moje-konto .u-column2.col-2.tab#tab_login form label,
.moje-konto .u-column2.col-2.tab#tab_register form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moje-konto .u-column1.col-1.tab#tab_login form label input, .moje-konto .u-column1.col-1.tab#tab_register form label input,
.moje-konto .u-column2.col-2.tab#tab_login form label input,
.moje-konto .u-column2.col-2.tab#tab_register form label input {
  margin: 0 5px;
}

.woocommerce-ResetPassword.lost_reset_password {
  max-width: 550px;
  margin: 15px auto;
}

.woocommerce-ResetPassword.lost_reset_password p {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme input {
  margin: 0 5px 0 0;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  margin: 0;
}

.woocommerce-LostPassword.lost_password {
  text-align: center;
}

.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide label {
  display: block;
  text-align: right;
  font-size: 13px;
}

#tab_nowe_konto {
  display: block;
}

@media (max-width: 1000px) {
  .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .moje-konto .u-column1.col-1.tab#tab_login form label,
  .moje-konto .u-column1.col-1.tab#tab_register form label,
  .moje-konto .u-column2.col-2.tab#tab_login form label,
  .moje-konto .u-column2.col-2.tab#tab_register form label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.moje-konto .u-column2.col-2.tab#tab_register form label {
  display: block;
  font-weight: normal;
}

.moje-konto .u-column2.col-2.tab#tab_register form label input {
  min-height: auto;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  width: 100%;
  max-width: 100%;
}

.moje-konto .u-column2.col-2.tab#tab_register form p label {
  font-weight: bold;
}

.moje-konto .u-column2.col-2.tab#tab_register form #tab_nowe_konto label {
  font-weight: normal;
}

@media (max-width: 1000px) {
  .moje-konto .u-column2.col-2.tab#tab_register form p label {
    text-align: center;
  }
}

.woocommerce-cart-form__cart-item.cart_item .product-thumbnail img {
  max-width: 100px;
}

.prefer-price {
  color: green;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.555);
}

.woocommerce table.cart td.actions {
  width: 100%;
}

.woocommerce table.cart td.actions button {
  width: 45%;
}

.woocommerce table.cart td.actions button {
  width: 100%;
}

.woocommerce a.button-prefer {
  background: green;
  border-color: green;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input {
  border-color: rgba(128, 128, 128, 0.301);
}

.woocommerce form .form-row select,
.select2-container--default .select2-selection--single {
  max-width: 270px;
  border-radius: 0;
}

#ship-to-different-address,
#invoice_heading {
  width: 100%;
}

#ship-to-different-address::before,
#invoice_heading::before {
  display: none;
}

#ship-to-different-address label,
#invoice_heading label {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ship-to-different-address input,
#invoice_heading input {
  margin-right: 5px;
}

@media (max-width: 1000px) {
  #ship-to-different-address label,
  #invoice_heading label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#invoice_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bold;
}

#invoice_fields p,
#invoice_fields input {
  padding: 0;
}

#invoice_fields input {
  margin: 5px 5px;
}

@media (max-width: 1000px) {
  #invoice_fields input {
    width: 270px;
    margin: 0 auto;
  }
}

#invoice_fields label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  padding-right: 10px;
}

@media (max-width: 1000px) {
  #invoice_fields label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #invoice_fields label {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.woocommerce ul#shipping_method li label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

#local_pickup select {
  width: 270px;
}

.list-localizations {
  margin-bottom: 50px;
}

.list-localizations .heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-localizations p.title {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.list-localizations ul {
  padding: 0;
  margin-bottom: 15px;
}

.list-localizations ul li {
  padding: 10px 0 10px 35px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  font-weight: bold;
  text-align: left;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  text-transform: capitalize;
  font-size: 12px;
  position: relative;
}

.list-localizations ul li:hover {
  background: var(--glowny);
  color: white;
}

.list-localizations ul li::before {
  content: "";
  background: url(../../uploads/2019/07/Wydawanie-Green.png);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background-position: center;
  background-size: contain;
  left: 0;
  background-repeat: no-repeat;
}

.list-localizations ul li span {
  font-weight: normal;
  display: block;
}

.newHomeComponents button {
  font-size: 22px;
  padding: 14px 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #666;
  font-family: "Roboto";
  font-weight: 100;
  width: 100%;
  max-width: 100%;
  text-decoration: none;
}

.newHomeComponents button:hover {
  color: var(--glowny);
  text-decoration: none;
}

.newHomeComponents button[aria-expanded="true"] {
  color: var(--glowny);
  text-decoration: none;
}

.card-header {
  padding: 0;
  border-color: #f0f0f0;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  border-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-header:first-child,
.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-accordion {
  max-width: 512px;
  margin: 0 auto;
}

.card-body p,
.card-body ul li {
  font-size: 14px;
}

.accordion .collapse {
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #f0f0f0;
}

.card {
  border: 0;
}

.accordion > .card .card-header {
  margin-bottom: 10px;
}

body {
  font-family: "Roboto";
}

.productTwoPrices .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.productTwoPrices .add_to_cart_button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.formularz select {
  width: 100%;
}

label a {
  color: var(--glowny);
}

.moje-konto .u-column2.col-2.tab#tab_register form label.zaznacz-wszystko {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  color: white;
  background: var(--glowny);
  text-align: center;
  border-radius: 3px;
}

.moje-konto .u-column2.col-2.tab#tab_register form label.zaznacz-wszystko:hover {
  -webkit-box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.185);
          box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.185);
}

.moje-konto .u-column2.col-2.tab#tab_register form label.zaznacz-wszystko input {
  display: none;
}

.wrapp-rodo {
  max-height: 130px;
  overflow-y: scroll;
  background: white;
  margin: 15px 0 30px;
}

.wrapp-justify label {
  text-align: left !important;
  width: 100%;
}

.info-check {
  text-align: left;
  font-size: 14px;
}

.heading-roboto-small.smaller {
  font-size: 21px;
  line-height: 1.1em;
}

ins {
  font-weight: bold;
}

.wrapper-promotion ins,
.wrapper-promotion del {
  display: block;
}

.wrapper-promotion del {
  font-size: 15px;
}

.productTwoPrices .price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.productTwoPrices .price {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productTwoPrices .price ins,
.productTwoPrices .price del {
  display: block;
  width: 100%;
}

.productTwoPrices .price del {
  font-size: 15px;
}

.productTwoPrices .price ins {
  text-decoration: none;
}

.product_title.entry-title + span.onsale {
  width: 100%;
  text-align: center;
  border: 2px solid green;
  padding: 5px;
  position: absolute;
  max-width: 100px;
  top: 68px;
  background: white;
  border-radius: 0;
  color: black;
  min-height: auto;
  min-width: auto;
  left: 14px;
  line-height: 1em;
}

.productTwoPrices .onsale,
.woocommerce .productTwoPrices .onsale {
  width: 100% !important;
  text-align: center !important;
  border: 2px solid green !important;
  padding: 5px !important;
  position: absolute !important;
  right: -1px !important;
  max-width: 100px !important;
  top: -1px !important;
  background: white !important;
  min-height: auto !important;
  min-width: auto !important;
  border-radius: 0 !important;
  margin: 0 !important;
  left: unset !important;
  line-height: 1em;
  font-size: 14px;
  color: black;
  font-weight: normal;
}

.pointscashback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 20px auto 20px;
  color: #085551;
  text-align: center;
  background-color: #fff;
}

.pointscashback p {
  text-transform: uppercase;
  margin: 0;
  text-align: center !important;
}

@media (max-width: 1000px) {
  .pointscashback p {
    font-size: 13px;
  }
}

.pointscashback span {
  font-weight: bold;
}

.pointscashback .sp-circle {
  background-color: #085551;
  color: white;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 10px;
  right: 36px;
  width: 20px;
  height: 20px;
  font-size: 11px;
}

@media (max-width: 450px) {
  .pointscashback .sp-circle {
    right: unset;
    margin-left: 5px;
  }
}

.pointscashback .numbers {
  font-size: 25px;
  line-height: 25px;
}

@media (max-width: 1000px) {
  .pointscashback .numbers {
    font-size: 20px;
  }
}

.pointscashback .sp.relative {
  position: relative;
}

.pointscashback .cashback,
.pointscashback .sp {
  border: 3px solid #ececec;
  padding: 8px 20px 5px;
  margin: 0 !important;
}

@media (max-width: 450px) {
  .pointscashback .cashback,
  .pointscashback .sp {
    width: 50%;
  }
}

.pointscashback .cashback p,
.pointscashback .sp p {
  font-size: 12px;
}

.pointscashback .sp {
  margin-left: -5px !important;
  border-left: 0 !important;
  padding-right: 50px !important;
}

.pointscashback .sp.relative p {
  margin-left: 14px;
  font-size: 11px;
}

.newHomeComponents button[aria-expanded="true"]::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f077";
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.newHomeComponents button[aria-expanded="false"]::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.wrapp-rodo p,
.moje-konto .u-column2.col-2.tab#tab_register form p {
  text-align: left;
  padding: 2px 10px;
  font-size: 13px;
}

.howbuycheap p.heading-caveat {
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 40px;
}

@media (max-width: 400px) {
  .howbuycheap p.heading-caveat {
    font-size: 30px;
  }
}

.howbuycheap .step {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  color: #515151;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  .howbuycheap .step {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.howbuycheap .step p {
  margin: 0;
}

.howbuycheap .step a {
  color: var(--glowny);
  font-weight: bold;
}

.howbuycheap .step .title-step {
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.howbuycheap .stepnumber {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #515151;
  line-height: 65px;
  text-align: center;
  border: 3px solid var(--glowny);
  font-weight: bold;
}

.howbuycheap .wrapper-text-step {
  text-align: left;
  width: calc(100% - 80px);
}

@media (max-width: 400px) {
  .howbuycheap .wrapper-text-step {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .woocommerce .single-product-view .tabs.wc-tabs li,
  .single-product-view .woocommerce-tabs ul.tabs li {
    margin-right: 0 !important;
    margin: 5px !important;
  }
  .woocommerce .single-product-view .tabs.wc-tabs li,
  .single-product-view .woocommerce-tabs ul.tabs li.active {
    padding: 6px 5px !important;
    margin-right: 0 !important;
    margin: 5px !important;
  }
}

.ingredients p.heading-caveat {
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 40px;
}

@media (max-width: 400px) {
  .ingredients p.heading-caveat {
    font-size: 30px;
  }
}

.ingredients .tekst-skladniki {
  margin: 0px 0 20px;
}

.ingredients .skladniki-list {
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.ingredients .skladniki-list li {
  padding: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  margin-bottom: 4px;
}

.ingredients .skladniki-list li:hover {
  background-color: rgba(128, 128, 128, 0.05);
}

.imgsGramatura {
  margin: 20px 0 5px;
  text-align: left;
  padding: 5px 5px 5px 0;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 400px) {
  .imgsGramatura {
    text-align: center;
  }
}

.imgsGramatura img {
  max-height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
}

@media (max-width: 400px) {
  .imgsGramatura img {
    max-height: 100px;
  }
}

.wrapper-single {
  background-color: #fff;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preferencyjna,
.info-pref-price,
.info-pref-price-single-product,
.summary.entry-summary .price .preferencyjna {
  display: none;
}

.map-relative {
  position: relative;
}

.map-canvas.map-relative .si-content-wrapper {
  padding: 20px 20px 20px 15px;
}

.map-canvas.map-relative .si-close-button {
  padding: 7px 5px;
}

.map-canvas.map-relative .info-point {
  text-align: left;
  font-size: 12px;
}

.map-canvas.map-relative .info-point p:last-child {
  margin: 0;
}

.map-canvas.map-relative .info-point .name span,
.map-canvas.map-relative .info-point .adress span,
.map-canvas.map-relative .info-point .type span {
  font-weight: bold;
}

.map-canvas.map-relative .info-point .ikona-punkt {
  max-width: 25px !important;
}

.map-canvas.map-relative .si-wrapper-top.si-has-border {
  max-width: 270px;
}

.results-wrapper .wojewodztwo-nazwa {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

.results-wrapper .punkt-lista {
  border-radius: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 10px 5px;
  text-align: left;
  font-size: 13px;
}

.results-wrapper .punkt-lista:hover {
  background-color: rgba(128, 128, 128, 0.05);
}

.results-wrapper .punkt-lista span {
  font-weight: bold;
}

.results-wrapper .punkt-lista img {
  max-width: 30px;
}

.wrapp-div-on-map {
  position: absolute;
  background: white;
  padding: 10px;
  max-width: 350px;
  max-height: 550px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 20px #808080a6;
          box-shadow: 2px 2px 20px #808080a6;
  top: 100px;
  left: 65px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #e4a707;
}

.results-wrapper {
  overflow-y: scroll;
  max-height: 350px;
  max-width: 97%;
  margin: 0 auto;
}

.results-wrapper div {
  width: 100%;
  max-width: 100%;
}

.wrapp-div-on-map .filters {
  margin: 10px 0 30px;
}

.wrapp-div-on-map .filters select {
  height: 27px;
  padding: 3px 10px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .wrapp-div-on-map .filters select {
    -webkit-appearance: none;
  }
}

.wrapp-div-on-map .filters p {
  margin: 0 0 2px 0;
  font-size: 14px;
}

.wrapp-div-on-map .zobacznamapie {
  padding: 5px 10px;
  background: #8ac142;
}

.type,
.adress {
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .wrapp-div-on-map {
    position: static;
  }
  .map-canvas {
    height: 400px !important;
  }
}

.results-wrapper .punkt-lista {
  border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}

.woocommerce-Tabs-panel h2:first-child {
  color: var(--glowny);
  line-height: 28px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 40px;
}

.howuse h1,
.howuse h2,
.howuse h3,
.howuse h1 strong,
.howuse h2 strong,
.howuse h3 strong,
.forwhom h1,
.forwhom h2,
.forwhom h3,
.forwhom h1 strong,
.forwhom h2 strong,
.forwhom h3 strong {
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  font-size: 19px;
}

.howuse h1.heading-caveat,
.howuse h2.heading-caveat,
.howuse h3.heading-caveat,
.howuse h1 strong.heading-caveat,
.howuse h2 strong.heading-caveat,
.howuse h3 strong.heading-caveat,
.forwhom h1.heading-caveat,
.forwhom h2.heading-caveat,
.forwhom h3.heading-caveat,
.forwhom h1 strong.heading-caveat,
.forwhom h2 strong.heading-caveat,
.forwhom h3 strong.heading-caveat {
  border: 0;
}

.woocommerce div.product p.price {
  font-size: 25px;
}

.summary.entry-summary .price .woocommerce-Price-amount.amount::before,
.summary.entry-summary .price .preferencyjna:before {
  font-size: 20px;
}

.sppoints-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sppoints-wrapper .pointscashback {
  margin-left: 0;
  margin-right: 0;
}

.sppoints-wrapper img {
  max-width: 85px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 10px;
}

.summary.entry-summary .price .woocommerce-Price-amount.amount {
  font-weight: bold;
  color: #313131;
  padding-top: 5px;
}
/*# sourceMappingURL=style.css.map */