/*
 Theme Name:   Dessau child
 Template:     dessau

*/
ul.products>.product .price .preferencyjna {
	color: #84be38;
    font-size: 22px;
    font-weight: bold;
    padding-right: 5px;
}

#datepickers-container {
z-index:9999999;
}

/* Menu Header */

.qodef-header-dessau .qodef-page-header .qodef-vertical-align-containers {
    padding: 0 45px 0 45px;
    border-bottom: 1px solid transparent;
}

.qodef-header-dessau .qodef-menu-area.qodef-menu-left .qodef-main-menu {
    width: 92%;
    padding: 0 0 0 20px;
}



.qodef-page-header .qodef-fixed-wrapper.fixed .qodef-menu-area {
    background-color: #fff;
    box-shadow: 0px 0px 5px;
}



/* Cezary CSS START */

/* Tabela produktow Koszyk */

.qodef-woocommerce-page table.cart {
    margin-top: 37px;
    float: left;
    width: 57%;
}

/* Koszyk DIV */

.qodef-woocommerce-page .cart-collaterals {
    position: relative;
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin: 0 0 41px;
    float: left;
}


/*Koszyk Box */

.qodef-woocommerce-page .cart_totals {
    margin: 25px 0px 20px 65px;
    border: 1px solid #787977;
    padding: 10px;
    text-align: center;
   box-shadow: 3px 3px 10px 0px;
}


/* Button Lewy koszyk */

.qodef-woocommerce-page table.cart td.actions>.button {
    position: absolute;
	  height: 43px;
       right: 213px;
    bottom: 365px;
    float: left;
    padding: 10px 15px 10px;
}

/* Button prawy koszyk */

.woocommerce-page .qodef-content a.button {
    font-family: inherit;
	  text-align : center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px;
    width: auto;
    outline: 0;
    font-size: 11px;
    line-height: 2em;
    letter-spacing: .2em;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    padding: 15px 20px;
    color: #fff;
    background-color: #363636;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    z-index: 3;
	    right: -28%;
}





div.woocommerce a.button {
	    padding: 15px 20px;
	    font-family: inherit;
    right: -90px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px;
    width: auto;
    outline: 0;
    font-size: 11px;
    line-height: 2em;
    letter-spacing: .2em;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-ou;
    padding: 15px 20px;
   
    color: #fff;
    background-color: #363636;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    z-index: 3;
	    right: -28%;
}


/* Button Cena Promocyjna */

.qodef-btn {
    font-family: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px;
    width: 100%;
    outline: 0;
    font-size: 11px;
    line-height: 2em;
    letter-spacing: .2em;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    padding: 15px 43px;
    cursor: pointer;
	text-align:center;
	    margin-left: 40px;
}

/* Wyśrodkowanie Menu Header */

.qodef-header-dessau .qodef-page-header .qodef-vertical-align-containers {
    padding: 0 45px 0 45px;
    border-bottom: 1px solid transparent;
}

.qodef-header-dessau .qodef-menu-area.qodef-menu-left .qodef-main-menu {
    width: 92%;
    padding: 0 0 0 20px;
}

.qodef-header-dessau .qodef-menu-area.qodef-menu-left .qodef-vertical-align-containers .qodef-position-left-inner {
    height: 100%;
    width: 105%;
}

/* Image Header */

.wpb_single_image img {
    height: 400px;
    max-width: 100%;
    vertical-align: top;
}

.wpb_single_image.vc_align_center {
    text-align: -webkit-center;
    width: 100%;
    display: inline-block;
}

.qodef-container-inner {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


/* Pasek cienia pod Menu */

.qodef-page-header .qodef-fixed-wrapper.fixed .qodef-menu-area {
    background-color: #fff;
    box-shadow: 0px 0px 5px;
}



/*Cezary CSS END */


.qodef-widget-title {
  color: white!important;
}

.summary {
 color: #84be38;
  font-size: 18px;
}

@media all and (max-width: 800px) {
  .qodef-woo-single-page .qodef-single-product-summary .qodef-quantity-buttons {
	margin: 0 10px 0 0;
}
}

.sku_wrapper {
  display:none!important;
}

.powered-by {
  display:none!important;
}

#tab-title-additional_information {
  display:none!important;
}

.select2-search__field {
  display:none!important;
}

p.price > span:nth-child(1) {
color: #84be38!important;
    font-weight: bold;
}


.post-5848 > div:nth-child(2) > span:nth-child(2) > span:nth-child(1) {
color: #84be38!important;
    font-weight: bold;
}



.post-5842 > div:nth-child(2) > span:nth-child(2) > span:nth-child(1)  {
color: #84be38!important;
    font-weight: bold;
}



.post-5839 > div:nth-child(2) > span:nth-child(2) > span:nth-child(1) {
color: #84be38!important;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
ul.products > .product .qodef-product-list-title {
	height: 50px;
  width: 100%;
} 
  
  ul.products > .product .price {
	height: 25px;
    width:100%;
}
  
  .qodef-woo-single-page .qodef-single-product-summary .price {
	margin-top: 5px;
}
}

.select2-selection__clear {
  display:none!important;
}

div.wc-proceed-to-checkout:nth-child(1) > a:nth-child(1) {
  display:none!important;
}

.select2, .select2-container, .select2-container--default, .select2-container--focus {
  min-width:280px!important;
}

#city_field > span:nth-child(2) > span:nth-child(2)  {
  min-width:280px!important;
}

#pick_up_locations_field > span:nth-child(2) > span:nth-child(2) > span:nth-child(1) > span:nth-child(1)  {
  min-width:280px!important;
}

.woocommerce-info {
 background-color: #84be38!important;
 color: white;
}

#place_order  {
 background-color: #84be38!important;
 color: white;
}

.qodef-view-cart  {
 background-color: #84be38!important;
 color: white;
}



.woocommerce-Price-amount, .amount {
  padding-left: 10px;
  padding-right: 10px;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .amount {
     text-decoration: none!important;
}

.qodef-total-amount * {
     text-decoration: none!important;
}
  
.cashback {
  
}

.datepickers-container {
	z-index:99999;
}

ul.products > .product .price * {
	font-size: inherit;
	line-height: inherit;
	font-size: 20px;
}

ul.products > .product .price {
	height: 25px;
	width: 100%;
	font-size: 20px;
}


@media screen and (min-width: 800px) {
ul.products > .product .qodef-pl-inner .qodef-pl-custom-atc-btn a i {
	font-size: 50px;
	}
}

.woocommerce-error {
	color:red!important;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 label:not(.checkbox), .qodef-woocommerce-page .woocommerce-checkout .col-2 label:not(.checkbox) {
	font-size: 11px;
	font-weight: bold;
}

.qodef-woocommerce-page .woocommerce-checkout table tr.shipping #shipping_method li > * {
	margin: 2px;
}

.easypack-shipping-method-logo {
	display:none;
}

.woocommerce-checkout-payment ul li label {
	display:none;
}


.dotpay_agreements a {
margin-left: 5px!important;
margin-right: 5px!important;
	color: blue;
}

.qodef-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li input, .qodef-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment ul li label {
	display: inline-block;
}

div.payment_method_Dotpay_blik > div:nth-child(3) {
text-align: left!important;
margin-top: 15px!important;
}

.wc_payment_method > label:nth-child(2) {
	color:white
}

.wc_payment_method > label:nth-child(2) > img:nth-child(1) {
	display:none;
}

#place_order {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.channels-wrapper .label-container {
	display: none!important;
}

.qodef-woocommerce-page .woocommerce-checkout table td, .qodef-woocommerce-page .woocommerce-checkout table th {
	padding: 14px 5px;
	text-align: left;
	vertical-align: middle;
}




.qodef-shopping-cart-dropdown ul {
	margin: 25px;
	padding: 0;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: visible;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-product-title {
font-size:12px;	
}

.qodef-subtotal-holder {
text-align:center;	
	font-size:14px;
	margin-bottom: 20px;
}

.qodef-btn-holder clearfix {
text-align:center;	
	font-size:14px;
}

.qodef-shopping-cart-dropdown {
	text-align: center;
	visibility: hidden;
	min-height: 500px;
}


.qodef-view-cart {
color: rgb(255, 255, 255);
background-color: rgb(132, 190, 56);
text-transform: uppercase;	
vertical-align: middle;
border-radius: 25px;
outline: 0;
font-size: 11px;
line-height: 2em;
letter-spacing: .2em;
font-weight: 600;
padding-top:15px;
	padding-bottom:15px;
	padding-left:25px;
	padding-right:25px;
margin-top:50px;
margin-bottom: 25px;
}

.gwiazdeczka {
color: #84be38;
font-size: 22px;
font-weight: bold;
padding-right: 5px;
text-align:center;
}

ul.products > .product .qodef-pl-inner .qodef-pl-custom-atc-btn a {
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
	border-radius: 0;
	padding: 50px;
	border: none;
	font-size: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #84be38;
	overflow: hidden;
}

.qodef-new-product {
border: 2px solid #84be38!important;
	  font-weight: bold;
}

.qodef-onsale {
border: 2px solid #84be38!important;
	  font-weight: bold;
}



.qodef-pinterest-share {
	display:none!important;
}

ul.products > .product .qodef-product-list-title {
	height: 50px;
	width: 100%;
	line-height: 130%;
}

@media screen and (min-width: 800px) {
.qodef-logo-wrapper > a:nth-child(1) {
    height: 70px!important;
}
}


.qodef-main-menu > ul > li.qodef-active-item > a {
color:#e4a707!important;	
}

.share-icon > img:nth-child(1) {
  filter:sepia(100%);	
}

.qodef-woocommerce-columns-3 .qodef-pl-main-holder > .products > .product {
	border: 1px solid lightgray;
	padding: 10px;
}

.qodef-woocommerce-columns-4 .related.products > .products > .product {
		border: 1px solid lightgray;
	padding: 10px;
	
}


.preferencyjna {
		font-size:20px;	
}

h6, a {
line-height:100%!important;
}


ul.products > .product .price {
	line-height: 100%;
	margin-bottom: 15px;
}


#billing_country {
position: relative;
width: 100%;
margin: 0 0 20px;
padding: 13px 5px 13px 0;
font-family: inherit;
font-size: 15px;
line-height: 20px;
font-weight: inherit;
color: #1b1b1b;
background-color: transparent;
border: none;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type='number'] {
    -moz-appearance:textfield;
}

.woocommerce-form-login__submit {
    margin-left:20px;
}

#registerForm > p:nth-child(5) > img:nth-child(1) {
    margin-bottom:35px!important;
}

#registerForm > p:nth-child(5) > label:nth-child(3) {
    line-height:50px;
}

#registerForm > p:nth-child(8) > label:nth-child(1) {
    line-height:50px;
}